@model LaptopModel
<div class="row center">
    <div class="card mb-3" style="max-width: 1000px; max-height:1000px;">
        <div class="row no-gutters">
            <div class="col-md-5">
                <img src="@Model.ImgUrl">
            </div>
            <div class="col-md-7">
                <div class="card-body">
                    <h5 class="card-title">@Model.ModelAdi</h5>
                    <i class="fas fa-lira-sign"></i>
                    <h6>@Model.Price</h6>
                    <p class="card-text"><small class="text-muted">Puan:@Model.Puan</small></p>
                </div>
            </div>
        </div>
    </div>
</div>


@* <div class="card-footer text-center">
    <a asp-controller="shop" asp-action="Details" asp-route-url="@Model.Url" class="btn btn-primary btn-sm"><img
    src="~/img/teknosa.svg" alt=""></a>
    <a asp-controller="shop" asp-action="Details" asp-route-url="@Model.Url"
    class="btn btn-primary btn-sm">Vatan</a>
    <a asp-controller="shop" asp-action="Details" asp-route-url="@Model.Url" class="btn btn-primary btn-sm"><img
    src="~/img/n11.svg" alt=""></a>
    <a asp-controller="shop" asp-action="Details" asp-route-url="@Model.Url" class="btn btn-primary btn-sm"><img
    src="~/img/trendyol.svg" alt=""></a>

    <a></a>
    </div> *@
</div>